.wrapper {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   display: flex;
   padding: 10px;
   z-index: 1000;
}

.dialog-dimmer {
   background-color: black;
   opacity: .5;
}

.dialog-wrapper {
   margin: 10px;
   padding: 0px;
   align-items: center;
   justify-content: center;
}

.dialog-body {
   padding: .5em 1em;
}

.article-stats {
   background: #f2f5f7;
   font-family: sans-serif;
   font-size: 13px;
   padding: 0.2em;
   min-width: 300px;
   border: 1px solid #cccccc;
   border-radius: 3px;
}

.article-stats .header {
   background-color: #ddd;
   color: #222;
   font-weight: bold;
   padding: 0.9em 1.4em;
   border: 1px solid #aed0ea;
   border-radius: 3px;
}

.article-stats .header .button {
   float: right;
   border-radius: 3px;
   border: 1px solid #ddd;
   background: none;
   font-weight: bold;
   line-height: 100%;
   width: 1.5em;
   padding: 0;
}

.article-stats  .header span {
   vertical-align: middle;
}

.article-stats .header .button:hover {
   border: 1px solid #74b2e2;
   background: #e4f1fb url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABkEAIAAACY3hF0AAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAqElEQVQoz+WQsQnCYBSEP14jks7WPsEFtFYcw8LCIWydIBa22cAFHEDsBHvBQBIJKIb8Khj9zbMIuoKC1fHdcRwcV+8+LEcCAH8jCQYrOmbBkbMtlmVHqMhsilbpYBq31TMT7REQi3YJiEQ99QlFXXxCwa3IY8pO1P1kGoo6OmFb1SPS06VuZ0JPA2LRAXNS9muT2X41e3ibSds0bY04zvPH49sv/bi8AIZ+VPsYx2M2AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE0LTEwLTEyVDIzOjQ0OjE4LTA3OjAwEuT3bwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNC0xMC0xMlQyMzo0NDoxOC0wNzowMGO5T9MAAAAASUVORK5CYII=) 50% 50% repeat-x;
}

.article-stats dl {
   width: 200px;
   margin: 5px auto;
}

.article-stats dt {
   float:left;
   clear:left;
   margin-right: 10px;
}

.article-stats dd {
   margin-left: 40%;
   text-align: right;
}